.display-flex, .main-init, .display-flex-column, .template-post{
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

ul li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.nav-bar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.nav-bar section{
  padding-top: 5px;
  display: flex;
}

.nav-bar section h2{
  color: white;
  font-family: 'Fredoka One', cursive;
  font-size: 25px;
  color: rgb(86, 199, 61);
  padding-left: 30px;
}

.btn-privacy{
  background: none;
  border: none;
  padding: 0px;
  margin-top: 5px;
  font-family: 'Sen', sans-serif;
  font-size: 15px;
}

.header-private .icon-arrow{
  margin-right: 30px;
  font-size: 20px;
}

.ul-private{
  margin: 0px;
  padding: 10px;
  list-style: none;
  border: 1px solid orange;
  position: absolute;
  margin-top: 48px;
  margin-left: -17px;
  background-color: white;
  border: 1px inset #58FF33;
  font-family: 'Sen', sans-serif;
  font-size: 15px;
}

.logo-nav{
  width: 30%;
  padding-top: -5px;
  border-radius: 50px;
  padding-left: 20px;
}

.footer-input-post{
  width: 100%;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.div-input-private{
  width: 8%;
  margin-top: 6px;
  margin-right: 40px;
  padding: 5px;
  border: 1px inset #58FF33;
  border-radius: 5px;
  background-color: #AAF970;
  display: flex;
  justify-content: space-around ;
}

.social-perfil{
  width: 40%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  text-align: center;
  align-items: center;
}

.social-perfil h2{
  margin-bottom: 30px;
}

.social-perfil p{
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  margin-top: -17px;
}

.input-post{
  margin-top:-50px;
  margin-bottom: 10px;
  width: 90%;
  border: 1px solid #58FF33;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#content-for-post{
  border: 2px dotted #58FF33;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  font-family: 'Baloo Chettan 2', cursive;
  font-size: 16px;
}

.social-post{
  width: 60%;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.container-list-posts{
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.container-posts{
  margin-bottom: 50px;
  width: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.Verde{
  border: 1px solid chartreuse;
  box-shadow: 0px 4px 12px chartreuse;
}

.textVerde{
  color: chartreuse;
  font-weight: bolder;
}

.Azul{
  border: 1px solid rgb(0, 68, 255);
  box-shadow: 0px 4px 12px rgb(0, 68, 255);
}

.textAzul{
  color: rgb(0, 68, 255);
  font-weight: bolder;
}

.Rojo{
  border: 1px solid rgb(245, 108, 108);
  box-shadow: 0px 4px 12px rgb(248, 107, 107);
}

.textRojo{
  color: rgb(248, 107, 107);
  font-weight: bolder;
}

.Amarillo{
  border: 1px solid rgb(240, 217, 15);
  box-shadow: 0px 4px 12px rgb(247, 228, 58);
}

.textAmarillo{
  color: rgb(247, 228, 58);
  font-weight: bolder;
}

.Morado{
  box-shadow: 0px 4px 12px rgb(245, 76, 236);
  border: 1px solid rgb(233, 10, 222);
}

.textMorado{
  color: rgb(233, 10, 222);
  font-weight: bolder;
}

.Naranja{
  box-shadow: 0px 4px 12px rgb(252, 141, 37);
  border: 1px solid rgb(247, 146, 53);
}

.textNaranja{
  color: rgb(247, 146, 53);
  font-weight: bolder;
}

.header-post{
  width: 100%;
  display: flex;
  text-align: start;
  align-items: flex-start;
  justify-content: space-between;
}

.subheader-post{
  width: 40%;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 10px;
  background-color: #58FF33;
}

.header-name-photo{
  width: 40%;
  margin-top: 5px;
  margin-left: 5px;
  padding-left: 5px;
  border-radius: 10px;
  display: flex;
  text-align: center;
  align-items: center;
}

.nameImg{
  color: rgb(129, 129, 128);
  font-weight: bolder;
  font-size: 16px;
  font-family: 'Sen', sans-serif;
  padding-left: 10px;
  width: 50px;
}

.icon-privacity{
  font-size: 15px;
  margin-top: -5px;
}

.menu-privacity{
  font-size: 15px;
  text-align: left;
  padding: 2px;
}

.menu-privacity:hover{
  color: rgb(88, 87, 87);
  font-weight: bolder;
}

.icon-privacity:hover{
  color: rgb(113, 116, 112);
}

#icon-edit-post:hover{
  color: black;
  font-weight: bolder;
}

#icon-delete-post:hover{
  color: black;
  font-weight: bolder;
}

.menu-barras{
  margin-top: 30px;
  margin-right: 25px;
  font-size: 20px;
}

.menu-edit-delete{
  position: absolute;
  z-index: 1;
  margin-left: -9%;
  margin-top: -35px;
  border: 1px solid rgb(166, 168, 166);
  box-shadow: 0px 4px 12px rgb(216, 216, 213);
}

.list-comment{
  position: absolute;
  z-index: 1;
  width: 20%;
  margin-left: -21%;
  margin-top: -1%;
  background-color: white;
  border: 1px solid rgb(166, 168, 166);
  box-shadow: 0px 4px 12px rgb(216, 216, 213);
}

#icon-comment{
  margin-right: 25px;
  font-size: 20px;
}

.icon-save{
  font-size: 20px;
  margin-right: 10px;
}

.icon-save:hover{
  font-size: 25px;
}

.text-comment{
  border-radius: 20px;
  padding-left: 10px;
  width: 85%;
  height: 25px;
  margin-right: 8px;
  margin-bottom: 5px;
  border: 1px solid rgb(107, 109, 106);
}

.save-comment{
  font-size: 22px;
}


.save-comment:hover{
  color: #666565;
}

.ul-edit-delete{
  padding: 5px;
  margin: 0px;
  list-style: none;
}

.ul-comments{
  list-style: none;
  margin: 0px;
  padding: 10px;
}

.ul-comments ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.ul-edit-delete li {
  padding: 7px;
  font-size: 17px;
}

.line-horizontal{
  display: block;
  width: 100%;
  border-bottom: 1px solid #d7d7d7;
  margin: 3px 0;
}

.date-post{
  display: flex;
  width: 100%;
  margin-top: -17px;
  margin-left: 18%;
  text-align: start;
}

.menu-privacity{
  width: 80%;
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
}

.header-likes-privacity{
  width: 100%;
  display: flex;
}

.section-likes{
  display: flex;
  width: 20%;
  margin-left: 11.5%;
}

.footer-post{
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  height: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.div-likes{
  margin-left: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.text-likes{
  margin: 0px;
  margin-left: 17px;
  margin-top: 15px;
  font-size: 14px;
  text-align: left;
}

.icon-edit-save-delete{
  margin-right: 10px;
  font-size: 15px;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
}

.header-private{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
}

.active-icon{
  color: rgb(86, 199, 61);
}

.icon-post-img{
  margin-left: 30px;
  font-size: 30px;
  color: rgb(86, 199, 61);
  cursor: pointer;
}

.main-init{
  height: 97vh;
}

.main-init-register,.main-init-perfil{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.main-init-register .init-banner img{
  padding-top: 60px;
}

.init-banner{
  width:50%;
  height: 100%;
}

.init-banner img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.init-login{
  width: 50%;
  height: 100%;
  margin-top: 10px;
}

.user-name-post{
  font-size: 15px;
  padding-right: 10px;
}

h5, h2, h1, .user-name-post {
  font-family: 'Merienda One', cursive;
}

h5{
  font-size: 20px;
}

h1{
  font-size: 13px;
  margin-right: 10px;
}

p, .textareaEdit{
  font-family: 'Kreon', serif;
}

#areatexto{
  height: 100px;
}

form{
  margin-top: 5px;
  margin-bottom: 30px;
}

.text-post, .textareaEdit{
  width: 90%;
  border-radius: 10px;
  border:none;
  font-size: 18px;
  text-align: center;
  align-items: center;
  overflow:hidden;
  resize: none;
  font-family: 'Bellota Text', cursive;
}

.text-edit{
  border: 2px dotted rgb(143, 146, 142);
}

.field{
  padding-left: 20px;
  border-radius: 15px;
  width: 70%;
  height:30px;
  border: 1px double rgb(122, 120, 120);
  background-color: white;
}

.field:focus{
  border: 1px solid #58FF33;
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.field:hover{
  border: 1px solid #58FF33;
}

.list-color{
  background-color: white;
  width: 74%;
  height: 33px;
  color: rgb(102, 100, 100);
}

.field-login:focus{
  border: 1px solid #58FF33;
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.btn-perfil:focus{
  background-color: white;
  color: #58FF33;
  text-shadow: none;
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.field-login:hover{
  border: 1px solid #58FF33;
}

#field-password{
  margin-left: 20px;
}

.button, .btn-perfil, .btn-publicar{
  color: white;
  border: 1px solid #58FF33;
  border-radius: 15px;
  font-weight: bold;
  width: 40%;
  height:30px;
  font-size: 17px;
  background-color: #AAF970;
  text-shadow: 0.1em 0.1em 0.05em #58FF33;
}

.btn-publicar:hover{
  background-color: white;
  color: #58FF33;
  text-shadow: none;
}

.btn-publicar:focus{
  text-shadow: none;
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.button:focus{
  text-shadow: none;
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.button:hover{
  background-color: white;
  color: #58FF33;
  text-shadow: none;
}

#btn-my-perfil{
  margin-top: 20px;
}

.btn-perfil{
  width: 60%;
  margin-top: 15px;
}

.btn-perfil:hover{
  background-color: white;
  color: #58FF33;
  text-shadow: none;
}

.porcent{
  position: absolute;
  margin-left: 24%;
  margin-top: -6%;
  font-size: x-large;
  font-weight: bolder;
  color: black;
}

a{
  text-decoration: none;
}

.field-error{
  border: 1px solid #ff0c19;
}

.icon-inside-field {
  position: relative;
  left: -30px;
}

.ms-error{
  color: #ff0c19;
  text-align: center;
  font-size: 12px;
}

.hide{
  display:none;
}

.block{
  display: block;
}

.photo-current-user,.user-photo-comment {
  width: 150px;
  background-color: white;
  border: 1px solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 6px -3px #333333;
}

.photo-current-user:hover{
  border: 2px solid #58FF33;
}

.post-user-photo{
    border: 1px solid #67eaca;
    background-color: initial;
    width: 50px;
    border-radius: 50px;
    float: left;
    margin-right: 15px;
    margin-top: 5px;
}

.display-flex-column, .input-post,.template-post {
  flex-direction: column;
  align-items: center;
}

.textarea-post{
  width: 90%;
  height: 150px;
  margin-top: 10px;
  border: none;
  resize: none;
}
.template-post{
  margin-bottom: 20px;
}
.center{
  align-items: center;
  justify-content: center;
}
.border{
  border: 1px solid red;
}
.margin-left{
  margin-left: 10px;
}


.icon-google, .icon-face{
  color: #CC0514;
  font-size: 40px;
}

.icon-face{
  color: #071085;
}

.icon-close{
  padding-right: 5px;
}

.icon-close:hover{
  color: #666565;
}

.background{
  background-image: url('../image/fondo.jpg');
  width: 100vw;
  height: 100vh;
  object-fit: fill;
}

.btn-publicar{
  width: 20%;
  margin-left: 60%;
  margin-right: 10px;
}

.imgPost{
  width: 98%;
  height: 350px;
  margin-bottom: 10px;
}

.selected{
  color: rgb(37, 155, 11);
}

.icon-arrow{
  margin-top: 4px;
  margin-left: 5px;
  font-size: 20px;
}

.div-comment{
  display: flex;
  width: 100%;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 7px;
}

.comment{
  padding-top: 2px;
  padding-left: 2px;
  border-radius: 10px;
  width: 100%;
}

.header-comment{
  display: flex;
  width: 100%;
  height: 5%;
  margin-bottom: 20px;
}

.user-photo-comment{
  width: 20px;
  height: 20px;
  padding-left: 3px;
  padding-top: 2px;
}

.header-comment h6{
  width: 95%;
  padding-left: 2px;
  margin-top: 4px;
  text-align: left;
  font-size: 14px
}

.comment p{
  border: none;
  text-align: left;
  padding-left: 10px;
}

